.message {
  text-align: center;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
}

.btn {
  margin: 25px 0 0 0;
}

.no {
  background: #ececec;
  color: var(--bg-secondary);
}

.yes {
  background-color: #f46666;
}
