<div class="box">
    <div class="content">
        <div class="header">
            <div class="title">Latest spins</div>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Category</th>
                        <th>Spin</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Joe Rayan</td>
                        <td>y.real.02@gmail.com</td>
                        <td>Normal</td>
                        <td>Socks</td>
                        <td>
                            <div class="won">Won</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Natsheh Rayan</td>
                        <td>y.natsheh.02@gmail.com</td>
                        <td>Luxury</td>
                        <td>TV</td>
                        <td>
                            <div class="gift">Gift</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>