<div class="box">
    <div class="content">
        <div class="header">
            <div class="title">Latest spins</div>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Category</th>
                        <th>Spin</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let spin of spins">
                        <td>{{spin?.user.name}}</td>
                        <td>{{spin?.user.email}}</td>
                        <td>{{spin?.itemCategory}}</td>
                        <td>{{spin?.itemName}}</td>
                        <td>
                            <div class="won" *ngIf="spin?.giftFrom === 0">Won</div>
                            <div class="gift" *ngIf="spin?.giftFrom !== 0">Gift</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>