.box {
  height: 100%;
}

th:last-child,
td:last-child {
  font-weight: bold;
}

thead tr:last-child th {
  border-bottom: 1px solid #d3d3d3;
}

.won {
  background: linear-gradient(135deg, #feb683, #ff8993);
}

.gift {
  background: linear-gradient(135deg, #eb83fe, #bc89ff);
}

.won,
.gift {
  text-align: center;
  border-radius: 4px;
  color: #f5f5f5;
  padding: 3px 0;
}
