.dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
  margin: 0 0 20px;
  text-align: center;
}

.input {
  text-align: center;
  width: 250px;
}

.btn {
  margin: 25px 0;
}

.content {
  min-height: 97px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
