:host {
    width: 100%;

}

.card {
    width: 100%;
    font-family: Montserrat;
    padding: 16px;
    background: white;
    border-radius: 7px;
    outline: transparent;
    box-shadow: 0px 0px 4px 4px rgba($color: #000000, $alpha: 0.1);
}

.main-content {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    height: 0px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right-content,
.left-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-content {
    width: 50px;
}

.info-box {
    margin-left: 10px;

    h2 {
        margin-bottom: 3px;
        display: inline;
        font-size: 18px;
    }

    p {
        color: #7A7A7A;
        font-size: 13px;
    }

}

p {
    display: inline;
}

.breakline {
    border-top: 1px solid #BFBFBF;
    width: 0px;
}

.card:focus {

    .breakline {
        animation: lineExpand 0.5s forwards;
    }

    .description {
        animation: detailsExpand 0.5s forwards;
    }

    .gift-desc {
        animation: giftDetailsExpand 0.5s forwards;
    }
}

.gift-desc {
    height: 0px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes lineExpand {
    from {
        width: 0px;
    }

    to {

        width: 85%;
    }
}

@keyframes detailsExpand {
    from {
        height: 0px;
    }

    to {
        height: 36px;
    }
}

@keyframes giftDetailsExpand {
    from {
        height: 0px;
    }

    to {

        height: 60px;
    }
}

.gifter-picture {
    border: solid 1px transparent;
    border-radius: 100px;
    width: 50px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
    display: inline;
    margin: 0px;
}