.container {
  width: 400px;
  height: 240px;
  border-radius: 13px;
  background: linear-gradient(90deg, #6aa5e3, #6866e9);
  cursor: default;
  transition: var(--transition-speed);
}

.container:hover {
  box-shadow: 2px 4px 6px #999999;
}

.desc {
  padding: 20px 40px;
  color: white;
  font-size: 20px;
}
.icon svg {
  height: 60px;
}

.total {
  font-size: 27px;
  font-weight: bold;
}

.info {
  margin-top: 20px;
}

.elipse {
  width: 180px;
  height: 180px;
  background-color: #ffffff14;
  border-radius: 50%;
  margin-left: 230px;
  margin-top: -90px;
}

.elipse:before {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #ffffff14;
  margin-top: -100px;
  margin-left: 60px;
  border-radius: 50%;
}
