<div class="container">
    <div class="box">
        <div class="title">
            <h1 class="logo unselect">Bingo</h1>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="content">
            <div class="inputs">
                <input type="text" class="input" formControlName="username" placeholder="Username" required>
                <input type="password" class="input" formControlName="password" placeholder="Password" required>
            </div>
            <div class="submit">
                <button class="btn" [disabled]="loading">Login</button>
            </div>
        </form>
    </div>
</div>