/* You can add global styles to this file, and also import other style files */
:root {
  --transition-speed: 0.5s;
  --text-primary: #b6b6b6;
  --text-secondary: #3bccf6;
  --text-red: #f63b3b;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.main-container {
  margin-left: 16rem;
  padding: 3rem;
  height: 100%;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px #e8e8e8;
}

.box .content {
  padding: 50px;
  color: #707070;
}
.box .content .header {
  display: flex;
  justify-content: space-between;
}
.box .content .header .title {
  font-weight: bold;
  font-size: 24px;
  padding-left: 10px;
}

.box .content .header .add {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-top: -7px;
  background: linear-gradient(45deg, #3acef9, #61dbff);
  border-radius: 50%;
  box-shadow: 0 1px 6px #00000017;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-speed);
}
.box .content .header .add .plus {
  width: 23px;
  height: 3px;
  background-color: white;
  border-radius: 20px;
}
.box .content .header .add .plus:before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 3px;
  background-color: white;
  transform: rotate(90deg);
  border-radius: 20px;
}

.box .content .header .add:hover {
  box-shadow: 0 1px 6px #00000059;
}

.table {
  padding-top: 30px;
}
.table table {
  border-collapse: collapse;
  width: 100%;
}
.table table th,
.table table td {
  padding: 15px 10px;
  text-align: left;
  border-bottom: 1px solid #efefef;
}

.table table tbody tr {
  transition: var(--transition-speed);
}
.table table tbody tr:hover {
  color: #6a6a6b;
  background-color: #c5cfda24;
}

.table table tbody tr:last-child td {
  border-bottom: 0px;
}

.unselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.input {
  border-radius: 50px;
  border: 0;
  background: #f0f4f5;
  padding: 10px;
  outline: none;
  transition: var(--transition-speed);
}

input:hover,
input:active,
input:focus {
  box-shadow: 0 3px 6px #00000036;
  background: #ffffff;
}

.btn {
  border: 0;
  outline: none;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background: #4bbbff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: var(--transition-speed);
}

.btn:hover {
  background: #23acff;
  box-shadow: 0 3px 6px #00000036;
}

.btn:disabled {
  cursor: not-allowed;
}
