.container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 70px;
  height: 100%;
}

.boxes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 900px;
  position: fixed;
}

.latest-spins {
  margin-left: 470px;
}
